.dropdown-box {
  display:flex;
  align-items: center;
  padding-right: 16px;
  flex-direction: row;
}

.dropdown-select {
  height: 24px;
  width: 120px;
}

.dropdown-option {
  font-size: 16px;
  font-style: italic;
}